.wallpaper-left{
    position: absolute;
    top: 80px;
    left: 26px;
    width: 587px;
    height: 179px;
    border-radius: 12px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:repeat(3, 58px);
    grid-gap: 2px;
    grid-template-areas:"aa aa . . . ."
                        "aa aa . bb bb ."
                        ". . . bb bb .";
    div{
        background-color: skyblue;
    }
    .aa{
        grid-area: aa;
        background-color: azure;
    }
    .bb{
        grid-area: bb;
        background-color: sandybrown;
    }
}